DATABASE_URL=postgres://USER:PASSWORD@localhost:5432/DATABASE
BETTER_AUTH_SECRET=SECRET # Random value used by the library for encryption and generating hashes.
BETTER_AUTH_URL=http://localhost:3000 #Base URL of your app